.rating__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rating__container {
  display: flex;
}

.rating__amount {
  font-size: 12px;
}

.item__info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name__detail {
  color: rgb(113, 125, 148);
}

.price__detail {
  color: rgb(71, 115, 197);
  font-weight: 700;
}
