.nav_user-container {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.nav_user-item {
  color: white;
  margin: 5px 0 10px 50px;
  display: flex;
  align-items: center;
}

.nav_body-container {
  padding: 10px 0 20px 0;
  display: flex;
  justify-content: space-between;
}
